<html>
	<head>
		<title>{{ website }} search results</title>
		<meta name="twitter:card" content="player">
		<meta name="twitter:title" content="{{ sign }}">
		<meta property="og:description" content="{{ meaning }} [{{ website }}]({{ url }})">
		<meta name="twitter:description" content="{{ meaning }} [{{ website }}]({{ url }})">
		<meta name="twitter:player" content="{{ video }}">
		<link rel="icon" href="{{ icon }}">
	</head>
	<body>
	<h1><a href="{{ url }}">{{ sign }}</a></h1>
	<br\>
	<em>{{ meaning }}</em>
	<br \>
	<video controls autoplay loop>
		<source src="{{ video }}" type="video/mp4">
	</video>
</body></html>